    <div class="col-sm-5">
        <img src="../img/anh1.jpg" class="img-thumbnail" alt="Cinque Terre" width="500" height="300">
    </div>
    <div class="col-sm-7">
        <h3 class="text-bg-secondary w-75">{{inputValue.name}}</h3>
        <div class="mt-5">
            <h3 class="text-danger d-inline">Giá: </h3>
            <h3 class="text-danger d-inline">{{inputValue.price}}</h3>
            <h3 class="text-danger d-inline"> đ</h3>
        </div>
        <div class="mt-5 w-75">
            <h6 class="d-inline">Tác giả: </h6>
            <h6 class="d-inline text-info ">{{inputValue.tac_gia}}</h6>
        </div>
        <div class="mt-5 w-75">
            <h6 class="d-inline">Dịch giả: </h6>
            <h6 class="d-inline">{{inputValue.dich_gia}}</h6>
        </div>
        <div class="mt-5 w-75">
            <h6 class="d-inline">Số trang: </h6>
            <h6 class="d-inline text-success ">{{inputValue.so_trang}}</h6>
        </div>
        <div class="mt-5 w-75">
            <h6 class="d-inline">Giới Thiệu :</h6>
            <h6 class="d-inline text-warning ">{{inputValue.gioi_thieu}}</h6>
        </div>
    </div>
